<div class="container">
  <div class="row">
    <div class="col" *ngFor="let dino of dinosaurios">
      <div class="card" (click)="onSelected(dino)" >
        <img src="{{dino.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{dino.name}}</h5>
            <p class="card-text">{{dino.scientificName}}</p>
            <p class="card-text">{{dino.shortDescription}}</p>
        </div>
    </div>
    </div>
    <div class="col" *ngIf="selected">
      <app-dinosaurios-detail [dinoDetail]="selectedDino"></app-dinosaurios-detail>
    </div>
  </div>
</div>
