<div class="container-xxl">
  <div class="row">
    <div class="col">
      <nav class="navbar bg-dark border-bottom border-body" style="padding: 1em;">
        <div class="container-fluid" style="display: flex; flex-direction: column;">
          <a class="navbar-brand d-flex align-items-center" href="#" data-bs-theme="dark" style="margin-left: auto; margin-right: auto;">
            <img src="https://raw.githubusercontent.com/2603-Uniandes/jsons/main/logo.webp" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
          </a>
          <p style="color: white; margin: 0;"><b>Numero de Carnivoros: </b>{{nCarnivoro}}</p>
          <p style="color: white;margin: 0;"><b>Numero de Herbivoro: </b>{{nHerbivoro}}</p>
        </div>
      </nav>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col" *ngFor="let dino of dinosaurios">
      <div class="card" (click)="onSelected(dino)" >
        <img src="{{dino.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{dino.name}}</h5>
            <p class="card-text">{{dino.scientificName}}</p>
            <p class="card-text">{{dino.shortDescription}}</p>
        </div>
    </div>
    </div>
    <div class="col" *ngIf="selected">
      <app-dinosaurios-detail [dinoDetail]="selectedDino"></app-dinosaurios-detail>
    </div>
  </div>
</div>
