<div class="container">
  <div class="row">
    <div class="col-6">
    <img src="{{dinoDetail.image}}" alt="" style="width: 100%; height: 100;">
    </div>
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Nombre cientifico</div>
            {{dinoDetail.scientificName}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Alimentacion</div>
            {{dinoDetail.feeding}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Era</div>
            {{dinoDetail.era}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Pais de descrubrimiento</div>
            {{dinoDetail.discoveryCountry}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>lredsa</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad cum, veniam nobis non necessitatibus neque animi consequatur quisquam? Omnis rem cupiditate quasi iste culpa at voluptates facere aliquam aspernatur animi!</p>
    </div>
  </div>
</div>
