<div class="container-xxl">
  <div class="row">
    <div class="col">
      <nav class="navbar bg-dark border-bottom border-body">
        <div class="container-fluid">
          <a class="navbar-brand d-flex align-items-center" href="#" data-bs-theme="dark" style="margin-left: auto; margin-right: auto;">
            <img src="https://raw.githubusercontent.com/2603-Uniandes/jsons/main/logo.webp" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
          </a>
        </div>
      </nav>
    </div>
  </div>

  <app-dinosaurios-list></app-dinosaurios-list>
</div>